/* #imageElement {
    position: absolute;


}

#imageCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

}

 */

 /* image-viewer.component.css */
 .image-container {
     position: relative;
     width: 1000px;
     
     height: 1000px;
     
 }

 .image {
     display: block;
   

 }

 .canvas {
     position: absolute;
     top: 0;
     left: 0;

 }

 canvas {
     border: 1px solid black;
     
        
 } 

