<!--<div style="position: relative">
  <img
    [src]="imageSrc"
    alt="Image"
    id="imageElement"
    style="display: block; max-width: 100%"
  />
  <canvas
    id="imageCanvas"
    style="position: absolute; top: 0; left: 0; pointer-events: none"
  ></canvas>
</div>-->

<!--<div>
  <img id="imageElement" [src]="imageSrc" alt="Image for ROI" />
  <canvas
    id="imageCanvas"
    style="position: absolute; top: 0; left: 0; pointer-events: none"
  ></canvas>
</div>-->

<!--<div class="canvas-container">
  <img #imageElement [src]="imageSrc" alt="Image for ROI" style="" />
  <canvas
    #imageCanvas
    style="position: absolute; top: 0; left: 0; pointer-events: none"
  ></canvas>
</div>-->

<!--<div style="position: relative; width: 500px; height: 500px">
  <img
    #imageElement
    id="imageElement"
    [src]="imageSrc"
    alt="Image"
    style="display: none"
  />
  <canvas
    #imageCanvas
    id="imageCanvas"
    style="position: absolute; top: 0; left: 0"
  ></canvas>
</div>-->

<div class="image-container">
  <img #imageElement [src]="imageSrc" alt="Image" class="image" />
  <canvas #imageCanvas class="canvas"></canvas>
</div>
