/* #imageElement {
    position: absolute;


}

#imageCanvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

}

 */

 /* image-viewer.component.css */
 .image-container {
     position: relative;
     width: 1000px;
     /* Fixed width */
     height: 1000px;
     /* Fixed height */
 }

 .image {
     display: block;
     max-width: 100%;
     height: auto;
 }

 .canvas {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
 }

 canvas {
     border: 1px solid black;
 }